<div class="container">
  <form #personForm (ngSubmit)="salvar(personForm)">
    <div class="row">
      <div class="form-group col-12">
          <label for="nomeInput">
            Nome
          </label>
          <input id="nomeInput" type="text" placeholder="Nome" class="form-control p-4"/>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="foneInput">Fone</label>
        <input id="foneInput" type="text" placeholder="Fone" class="form-control p-4"/>
      </div>
      <!--Emmet  .form-group.col-md-4>(label[for=emailInput]{Email}+input#emailInput[type=text placeholder="Email"].form-control.p-4)-->
      <div class="form-group col-md-4">
        <label for="emailInput">Email</label>
        <input type="text" id="emailInput" placeholder="Email" class="form-control p-4">
      </div>

      <div class="form-group col-md-4">
        <label for="profissaoInput">Profissão</label>
        <select name="" id="profissaoInput" class="form-control">
          <option value="" disabled selected>Selecione sua Profissao</option>
          <option value="">Engenheiro</option>
          <option value="">Professor</option>
          <option value="">Químico</option>
          <option value="">Zoólogo</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
      </div>
    </div>
  </form>
</div>